@import "variables";

// For Angular Material
@import '../../node_modules/@angular/cdk/overlay-prebuilt.css';
@import '../../node_modules/@angular/material/theming';
@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

// Other importations
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css");
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@include mat-core();

// Create a shadow for matMenu "ArticlesData"
.shadow-high-elevation {
  @include mat-elevation-transition;
  @include mat-elevation(8);
}

.shadow-medium-elevation {
  @include mat-elevation-transition;
  @include mat-elevation(2);
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: $color-white;
  color: $color-darkgray;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;

  .bg-gray {
    background: $color-gray;
    color: $color-darkgray;
  }

  .bg-orange {
    background: $color-orange;
    color: $color-white;
  }

  .bg-purple {
    background: $color-purple;
    color: $color-white;
  }

  .bg-blue {
    background: $color-blue;
    color: $color-white;
  }

  .btn {
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-clip: padding-box !important;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
  .btn:hover {
    transition: 0.25s ease-in-out;
    text-decoration: none;

  }
  .bg-dark {
    background: $color-darkgray;
    color: $color-white;
  }
  .btn-gray:hover {
    background: $color-gray;
    color: $color-darkgray;
  }
  .btn-orange:hover {
    background: $color-orange;
    color: $color-white;
  }
  .btn-purple:hover {
    background: $color-purple;
    color: $color-white;
  }
  .btn-blue:hover {
    background: $color-blue;
    color: $color-white;
  }
  .btn-dark:hover {
    background: $color-darkgray;
    color: $color-white;
  }

  .tags {
    display: inline-block;
    padding: 1rem 0;
    margin: 0;
  }

  .tags>li {
    display: inline-block;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 25px;
    border: 2px solid  rgba(160, 26, 125, 0.5);
  }

  .tags>li:hover {
    background: $color-purple;
    color: $color-white;
    transition: 0.25s ease-in-out;
  }

  p.action .btn {
    margin-right: 20px;
  }

  main *[class*="bg-"] {
    margin: 0px -40px;
    padding: 20px 40px;
  }
  main table[class*="bg-"] {
    padding: 40px;
    margin: 0;
    margin-left: -40px;
    width: calc(100% + 80px);
  }
  .strong {
    font-weight: 500;
  }

  .upper {
    text-transform: uppercase;
  }

  .flex {
    display: flex;
  }

  .flex-opposite {
    justify-content: space-between;
  }

  .flex-end {
    justify-content: flex-end;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .align-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .align-bottom {
    position: absolute;
    bottom: 0;
  }

  .align-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .align-third {
    position: absolute;
    left: 33.33%;
    transform: translateX(-50%);
  }

  .hide {
    display: none;
  }

  table th,
  table td {
    padding: 5px 10px;
    text-align: left;
  }

  table thead th {
    background: $color-darkgray;
    color: $color-white;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    padding-left: 20px;
  }

  ul, ul>li {
    list-style: none;
  }

  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    font-size: 3rem;
    font-weight: 200;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 300;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .upper {
    text-transform: uppercase;
  }

  input {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid $color-darkgray;
  }

  * {
    box-sizing: border-box;
    padding: 0;
  }
  .fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
