@import "../../../sass/variables";

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  input {
    height: unset !important;
    font-size: 20px;
    padding: 5px 10px;
  }

  svg {
    width: 70%;
    fill: $color-white;
    opacity: 0.15;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  & .mid {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;

    &>div {
      padding: 40px;
    }

    & .half {
      width: 50%;
    }
    & > .half:first-child {
      border-bottom: 3px solid $color-blue;
    }
    & > .half:first-child::before {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 33.33%;
      transform: translate(-50%, 100%);
      width: 0;
      border-top: 30px solid $color-blue;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      z-index: 1;
    }
    & > .half:first-child::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 3px;
      left: 33.33%;
      transform: translate(-50%, 100%);
      width: 0;
      border-top: 30px solid #fff;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      height: 0;
      z-index: 1;
    }
    & > .half:last-child {
      border-left: 3px solid $color-blue;
      background: $color-gray;
      position: relative;
    }
    & > .half:last-child::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: -3px;
      top: 50%;
      transform: translate(-100%, -50%);
      width: 0;
      border-right: 30px solid $color-blue;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
      height: 0;
      z-index: 1;
    }
    & > .half:last-child::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%);
      width: 0;
      border-right: 30px solid $color-gray;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
      height: 0;
      z-index: 1;
    }

    & .third {
      width: 33.33%;
      position: relative;
    }

    & > .third:first-child+.third {
      border-right: 3px solid $color-blue;
      background: $color-purple;
      position: relative;
    }
    & > .third:first-child+.third::before {
      content: "";
      display: inline-block;
      position: absolute;
      right: -3px;
      top: 50%;
      transform: translate(100%, -50%);
      width: 0;
      border-left: 30px solid $color-blue;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
      height: 0;
      z-index: 1;
    }
    & > .third:first-child+.third::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      width: 0;
      border-left: 30px solid $color-purple;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
      height: 0;
      z-index: 1;
    }
  }
}
