<div class="fullscreen">
  <div class="row mid">
    <div class="half">
      <h1>Growth Hacker</h1>
      <ul class="align-bottom align-third">
        <li>
          <p>Growth Hacking Platform</p>
          <ul>
            <li>
              <p>Reduce your research time</p>
              <ul>
                <li>
                  <p>Open source and free-to-use</p>
                  <hr>
                  <h3 class="strong upper">in other words ...</h3>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="half bg-gray">
      <div class="align-middle">
        <h2 class="upper">welcome to Growth Hackers</h2>
        <ul>
          <li>
            <p>What is Growth Hackers ?</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mid">
    <div class="third bg-orange">
      <h3 class="upper">Boost your business</h3>
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 486.742 486.742" style="enable-background:new 0 0 486.742 486.742;" xml:space="preserve">
<g>
	<g>
		<path d="M33,362.371v78.9c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-138.8l-44.3,44.3
			C57.9,356.071,45.9,361.471,33,362.371z"/>
    <path d="M142,301.471v139.8c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-82.3c-13.9-0.3-26.9-5.8-36.7-15.6L142,301.471z"/>
    <path d="M251,350.271v91c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-167.9l-69.9,69.9
			C257,345.971,254.1,348.271,251,350.271z"/>
    <path d="M432.7,170.171l-72.7,72.7v198.4c0,4.8,3.9,8.8,8.8,8.8h61c4.8,0,8.8-3.9,8.8-8.8v-265.6c-2-1.7-3.5-3.2-4.6-4.2
			L432.7,170.171z"/>
    <path d="M482.6,41.371c-2.9-3.1-7.3-4.7-12.9-4.7c-0.5,0-1.1,0-1.6,0c-28.4,1.3-56.7,2.7-85.1,4c-3.8,0.2-9,0.4-13.1,4.5
			c-1.3,1.3-2.3,2.8-3.1,4.6c-4.2,9.1,1.7,15,4.5,17.8l7.1,7.2c4.9,5,9.9,10,14.9,14.9l-171.6,171.7l-77.1-77.1
			c-4.6-4.6-10.8-7.2-17.4-7.2c-6.6,0-12.7,2.6-17.3,7.2L7.2,286.871c-9.6,9.6-9.6,25.1,0,34.7l4.6,4.6c4.6,4.6,10.8,7.2,17.4,7.2
			s12.7-2.6,17.3-7.2l80.7-80.7l77.1,77.1c4.6,4.6,10.8,7.2,17.4,7.2c6.6,0,12.7-2.6,17.4-7.2l193.6-193.6l21.9,21.8
			c2.6,2.6,6.2,6.2,11.7,6.2c2.3,0,4.6-0.6,7-1.9c1.6-0.9,3-1.9,4.2-3.1c4.3-4.3,5.1-9.8,5.3-14.1c0.8-18.4,1.7-36.8,2.6-55.3
			l1.3-27.7C487,49.071,485.7,44.571,482.6,41.371z"/>
	</g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
</svg>

    </div>
    <div class="third bg-purple">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M416,127.995H245.333c-6.4,0-10.667,4.267-10.667,10.667c0,6.4,4.267,10.667,10.667,10.667H416
			c6.4,0,10.667-4.267,10.667-10.667C426.667,132.262,422.4,127.995,416,127.995z"/>
	</g>
</g>
        <g>
	<g>
		<path d="M467.2,4.262c-2.133-2.133-8.533-4.267-12.8-2.133l-78.933,38.4L339.2,4.262c-4.267-4.267-10.667-4.267-14.933,0
			L288,40.528l-81.067-38.4c-4.267-2.133-8.533-2.133-12.8,2.133s-2.133,8.533,0,10.667l42.667,85.333c0,4.267,4.267,6.4,8.533,6.4
			H416c4.267,0,8.533-2.133,8.533-6.4L467.2,14.928C469.333,12.795,469.333,6.395,467.2,4.262z"/>
	</g>
</g>
        <g>
	<g>
		<path d="M298.667,255.995c0,8.533,6.4,14.933,21.333,19.2v-38.4C307.2,238.928,298.667,247.462,298.667,255.995z"/>
	</g>
</g>
        <g>
	<g>
		<path d="M123.733,260.262c-17.067-19.2-89.6-23.467-113.067-25.6c-2.133,0-6.4,0-8.533,2.133c0,2.133-2.133,6.4-2.133,8.533
			v213.333c0,6.4,4.267,10.667,10.667,10.667h64c4.267,0,8.533-2.133,10.667-6.4c2.133-4.267,38.4-138.667,42.667-194.133
			C128,264.528,128,262.395,123.733,260.262z"/>
	</g>
</g>
        <g>
	<g>
		<path d="M424.533,170.662c-2.133,2.133-4.267,0-8.533,0H245.333c-4.267,0-6.4,2.133-8.533,4.267
			c-2.133,2.133-38.4,51.2-61.867,100.267c4.267,0,10.667,0,14.933,2.133h4.267c17.067,2.133,36.267,8.533,51.2,12.8
			c12.8,4.267,25.6,8.533,32,8.533c0,0,19.2,0,42.667,4.267v-6.4c-27.733-6.4-42.667-21.333-42.667-40.533
			c0-21.333,19.2-38.4,42.667-42.667v-10.667c0-6.4,4.267-10.667,10.667-10.667c6.4,0,10.667,4.267,10.667,10.667v10.667
			c23.467,4.267,40.533,19.2,42.667,38.4c0,6.4-4.267,10.667-10.667,10.667c-6.4,0-10.667-4.267-10.667-10.667
			c0-8.533-10.667-17.067-21.333-19.2v42.667c27.733,6.4,42.667,21.333,42.667,40.533c0,2.133,0,2.133,0,4.267
			c12.8,8.533,21.333,21.333,21.333,38.4l8.533,2.133l25.6-10.667c10.667-4.267,21.333-6.4,29.867-6.4
			c17.067,0,29.867,6.4,42.667,14.933c0-4.267,0-6.4,0-10.667C512,285.862,428.8,174.928,424.533,170.662z"/>
	</g>
</g>
        <g>
	<g>
		<path d="M341.333,302.928v4.267c6.4,2.133,12.8,4.267,19.2,6.4C358.4,309.328,352,305.062,341.333,302.928z"/>
	</g>
</g>
        <g>
	<g>
		<path d="M448,373.328l-74.667,32c-21.333,0-64,0-74.667,0c-10.667,0-66.133-17.067-57.6-21.333c2.133,0,6.4,0,14.933,0
			c49.067,4.267,128,14.933,128-21.333c0-36.267-85.333-42.667-106.667-42.667c-21.333,0-55.467-19.2-85.333-21.333
			c-12.8,0-27.733-2.133-44.8-4.267c-6.4,46.933-25.6,113.067-36.267,145.067L224,490.662c42.667,17.067,70.4,36.267,160,0
			c0,0,128-53.333,128-85.333C512,379.728,482.133,362.662,448,373.328z"/>
	</g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
</svg>
      <div class="flex flex-opposite align-middle">
        <h3 class="upper">Increase your profit</h3>
      </div>
    </div>
    <div class="third bg-dark">
      <h3>Login</h3>
      <form role="form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
          <mat-form-field class="auth-form-email">
            <mat-label>E-Mail</mat-label>
            <input role="textbox" id="email" type="email" matInput placeholder="Email" formControlName="email" required>
            <mat-error class="auth-email-error" *ngIf="email.invalid">
              You must enter a valid email (ex: dupont.jeanpaul@gmail.com)
            </mat-error>
          </mat-form-field>

          <mat-form-field class="auth-form-password">
            <mat-label>Password</mat-label>
            <input role="textbox" id="password" type="password" matInput placeholder="Password" formControlName="password" required>
            <mat-error class="auth-password-error" *ngIf="password.invalid">
              You must enter a valid password
            </mat-error>
          </mat-form-field>
        <div class="flex flex-opposite">
          <button role="button" mat-button class="btn btn-orange" [routerLink]="['/register']">No account yet ?</button>
          <button role="button" mat-button class="btn btn-blue" type="submit">Connect</button>
        </div>
      </form>
    </div>
  </div>
</div>
