<section>
  <header class="bg-dark">
  <div class="flex flex-opposite">
    <div class="flex half flex-start">
      <a href="#"><i class="fi fi-home"></i></a>
    </div>
    <div class="flex half flex-end">
      <a href="#" title="Account"><i class="fi fi-person"></i></a>
      <a href="#" title="Logout"><i class="fi fi-power"></i></a>
    </div>
  </div>
  </header>
  <main>
  <div class="bg-blue search">
    <p class="action">
      <a href="#" class="btn btn-dark"><i class="fi fi-search"></i> Search</a>
      <a href="#" class="btn btn-dark"><i class="fi fi-history"></i> History</a>
    </p>
    <h3 class="upper">history</h3>
    <p class="action">
      <a href="#" class="upper btn btn-blue"><i class="fi fi-recycle"></i> clear history</a>
    </p>
    <h3 class="upper">Filters</h3>
    <ul class="tags">
      <li>
        <a href="#"><i class="fi fi-wallet"></i> activity domain</a>
      </li>
      <li>
        <a href="#"><i class="fi fi-flash"></i> state</a>
      </li>
      <li>
        <a href="#"><i class="fi fi-date"></i> date</a>
      </li>
    </ul>
  </div>
  <table class="bg-gray">
    <thead>
    <tr>
      <th class="upper">society</th>
      <th class="upper">address</th>
      <th class="upper">activity</th>
      <th class="upper">siren</th>
      <th class="upper">siret</th>
      <th class="upper">naf</th>
      <th class="upper">staff</th>
      <th class="upper">director</th>
      <th class="upper">website</th>
      <th class="upper">domain</th>
      <th class="upper">mail</th>
      <th class="upper">taglabel</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>AAA</td>
      <td>BBB</td>
      <td>CCC</td>
      <td>DDD</td>
      <td>EEE</td>
      <td>FFF</td>
      <td>GGG</td>
      <td>HHH</td>
      <td>III</td>
      <td>JJJ</td>
      <td>KKK</td>
      <td>LLL</td>
    </tr>
    </tbody>
  </table>
  </main>
  <footer class="bg-dark">

  </footer>
</section>
