@import "../../../sass/variables";

header, main, footer {
  padding: 0 40px;
}

header {
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

header a {
  display: inline-block;
  padding: 5px 10px;
  height: 30px;
  font-weight: 500;
}

header a:hover {
  color: #49BEAA;
  transition: 0.25s ease-in-out;
}

header a>i {
  font-size: 20px !important;
}

main {
  padding: 50px 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 30px;
  overflow-y: auto;

  & > .search {
    margin-top: -50px;
  }
}

footer {
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
