@import "../../../sass/variables";

h1 {
  position: absolute;
  left: 40px;
  top: 40px;
  margin: 0;
  z-index: 2;
}

.register>div {
  width: 80%;
  margin: 150px auto;
  padding: 20px;
  z-index: 2;
}

.flex {
  flex-wrap: wrap;
}

.half {
  width: 50%;
  padding: 0 20px;
}

.flex>.text-right {
  width: 100%;
  text-align: right;
  padding: 0 20px;
}
input {
  height: 40px !important;
  font-size: 18px;
  line-height: 40px;
  padding: 5px;
}
form {
  border-radius: 25px;
  padding: 20px 0;
  border: 2px solid $color-blue;
  z-index: 2;
}
.register::before,
.register::after {
  content: "";
  z-index: 1;
}
.register::before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 50%;
  background: $color-white;
  border: 2px solid $color-gray;
}
.register::after {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 50%;
  background: $color-gray;
  border: 2px solid $color-blue;
}
.btn {
  border: 2px solid $color-blue;
}
