<div class="register fullscreen">
  <h1>Growth Hackers - Register</h1>
  <div>
    <h2>Create your account</h2>
    <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="half">
        <h3 class="upper">Informations</h3>
        <mat-form-field class="register-form-name">
          <mat-label>Name</mat-label>
          <input role="textbox" id="name" matInput placeholder="Email" formControlName="name" required>
          <mat-error class="register-name-error" *ngIf="name.invalid">
            You must enter a valid name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-form-surname">
          <mat-label>Surname</mat-label>
          <input role="textbox" id="surname" matInput placeholder="Surname" formControlName="surname" required>
          <mat-error class="register-surname-error" *ngIf="surname.invalid">
            You must enter a valid surname
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-form-phone">
          <mat-label>Phone</mat-label>
          <input role="textbox" id="phone" matInput placeholder="Phone" formControlName="phone" required>
          <mat-error class="register-phone-error" *ngIf="phone.invalid">
            You must enter a valid phone number
          </mat-error>
        </mat-form-field>

        <h3 class="upper">Credentials</h3>
        <mat-form-field class="register-form-email">
          <mat-label>E-Mail</mat-label>
          <input role="textbox" id="email" type="email" matInput placeholder="Email" formControlName="email" required>
          <mat-error class="register-email-error" *ngIf="email.invalid">
            You must enter a valid email (ex: dupont.jeanpaul@gmail.com)
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-form-password">
          <mat-label>Password</mat-label>
          <input role="textbox" id="password" type="password" matInput placeholder="Password" formControlName="password" required>
          <mat-error class="register-password-error" *ngIf="password.invalid">
            You must enter a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-form-confirm">
          <mat-label>Confirm</mat-label>
          <input role="textbox" id="confirmpwd" type="password" matInput placeholder="Confirm" formControlName="confirmpwd" required>
          <mat-error class="register-confirmpwd-error" *ngIf="confirmpwd.invalid">
            You must enter a valid password and it must be same password above
          </mat-error>
        </mat-form-field>
      </div>
      <div class="text-right">
        <button role="button" mat-button type="submit" class="btn btn-dark">validate</button>
      </div>
    </form>
  </div>
</div>
